p.mytable{
    max-width: 700px;
    white-space: pre-line;
    overflow: scroll;
    text-overflow: clip;

}

img.pic{
    max-width: 17%;
    max-height: 30px;
}

li.limit{
    padding: 5px;
    border: 5px;
    overflow: hidden;


}