{% extends 'base.html' %}

{% block titulo %}
Deseja Reiniciar a base de dados?

{% endblock %}

{% block content %}
    <table class="">

    <form class="form-group" method="post">
    {% csrf_token %}
        <td><input type="submit" value="Sim" class="btn btn-success"></td>


    </form>
    <td><a href="{% url 'listar' %}"><button class="btn btn-danger">Não</button></a></td>
    </table>


{% endblock %}