{% extends 'base.html' %}
{% load staticfiles %}


{% block titulo %}
Deseja popular nossa base de perfis?
{% endblock %}

{% block content %}



        <form method="post" class="form-group">
        {% csrf_token %}

        <p><input type="submit" class="btn btn-success" value="Executar"></p>
     </form>



        <!-- /.row -->


{% endblock %}

