<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>popular amigos</title>
</head>
<body>
    Lista de todos os amigos <br>


    <table>


    {% for perfil in perfis %}

        <a href="{{ perfil.url }}">  <img src="{{ perfil.pic }}"> </a>
            nome:{{ perfil.nome }}
       <br>

    {% endfor %}

        </table>
</body>
</html>