{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}
Lista local de Perfis do Facebook
{% endblock %}


{% block content %}



        {% for perfil in perfis %}
        <!-- Projects Row -->

        <div class="row">
            {% for p in perfil %}
            <div class="col-md-3 portfolio-item">
            <div class="col-sm-6">


    <!-- normal -->
    <div class="ih-item circle effect10 top_to_bottom"><a href="{% url 'perfil' p.id_face %}">
        <div class="img"><img src="{{ p.pic }}" alt="img"></div>
        <div class="info">
          <h3>{{ p.nome }}</h3>

        </div></a></div>
    <!-- end normal -->

  </div>

            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        {% endfor %}


{% endblock %}