{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
Perfil
{% endblock %}


{% block content %}





    <body>


    <!-- Page Content -->
    <div class="container">



        <!-- Portfolio Item Row -->
        <div class="row">

        <div class="ih-item circle effect1 left-block"><a href="{{ perfil.url_perfil }}" target="_blank">
        <div class="spinner"></div>
            <div class="img"><img src="{{ perfil.pic }}" alt="img"></div>

        <div class="info">
          <h3>{{ perfil.nome }}</h3>

        </div></a>

        </div>









            </div>

        </div>
        <!-- /.row -->

        <div class="col-sm-push-12">
            <br>
            <table class="table-responsive">
                <tr>
        <td><button class="btn btn-primary" id="btn-amigo">Amigos</button></td>
        <td><button class="btn btn-default" id="btn-msg">Mensagens</button></td>
        <td><form method="post" action="{% url 'busca_amigos' %}">
                {% csrf_token %}
                <input type="hidden" name="id_face" value="{{ perfil.id_face }}">
                <input type="submit" value="Popular Amigos" class="btn btn-danger">
                    </form></td>


                </tr>
                </table>
        </div>
            <!-- Related Projects Row -->
        <div class="table-responsive" id="amigos">




            <div class="col-lg-12">
                <h3 class="page-header">Amigos</h3>
            </div>

            {% for amigo in amigos %}
                <div class="col-sm-3">

    <!-- normal -->
    <div class="ih-item circle effect1"><a href="{{ amigo.url_perfil }}" target="_blank">
        <div class="spinner"></div>
        <div class="img"><img src="{{ amigo.pic }}" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>{{ amigo.nome }}</h3>
            <p>Clique para ver o perfil no Facebook</p>
          </div>
        </div></a></div>
    <!-- end normal -->

  </div>


            {% endfor %}




        </div>

        <div class="table-responsive" id="mensagens" >
            <h3 class="page-header">Minhas Mensagens</h3>

        <table class="table-striped table-hover table-condensed">
        <tr>
            <th>#</th>
            <th>Mensagem</th>
            <th>Data</th>
            <th>Destino</th>

        </tr>
            {% for m in msg %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td><p class="text-left mytable">{{ m.body }}</p></td>
                <td>{{ m.create_time }}</td>
                <td>
                    {% for p in m.thread_id.recipientes.all%} <li class="limit"> <img class="pic" src="{{ p.pic }}"> - {{  p}}</li> {% endfor %}
                </td>
                </tr>
            {% endfor %}

        </table>

        </div>
        <!-- /.row -->

        <hr>



    </div>

    <script type="text/javascript" src="{% static 'js/myscript.js' %}"></script>

</body>

{% endblock %}